<div class="order_bg">
    <section class="order_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="work_title text-center">
                        <h2>Your Order</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="address">

                        <p><span style="font-weight: bold">{{newUser.username}}</span>
                            <br>Delivery Address:
                            <br/>{{newUser.housenumber}} {{newUser.street}},
                            <br/>{{newUser.city}}
                            <br/>Netherlands
                        <br/><span style="font-weight: bold">Email:</span> {{newUser.email}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="order_item">
                    <div class="col-sm-4">
                        <div class="order_thunb">
                            <img src="/assets/img/order.png" alt="order"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pizza">
                            <p>Peperoni Pizza Extra hot
                                <br/>25”</p>
                            <img src="/assets/img/pizza_logo.png" alt="pizza"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="way text-center">
                            <img src="/assets/img/way.png" alt="pizza"/>
                            <p>on its way</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="price text-right">
                            <p>15,00</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row-->
            <div class="row">
                <div class="order_item">
                    <div class="col-sm-4">
                        <div class="order_thunb">
                            <img src="/assets/img/order.png" alt="order"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pizza">
                            <p>Peperoni Pizza Extra hot
                                <br/>25”</p>
                            <img src="/assets/img/pizza_logo.png" alt="pizza"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="way text-center">
                            <img src="/assets/img/way.png" alt="pizza"/>
                            <p>on its way</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="price text-right">
                            <p>15,00</p>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="col-sm-12">
                    <div class="total text-right">
                        <p>Total: 30,00</p>
                    </div>
                </div>
                <div class="checkout_btn col-sm-12">
                    <input type="submit" value="Checkout"/>
                </div>


            </div>
            <!--End row-->
        </div>
        <!--End container-->
    </section>
    <!--End mainmenu_area-->
</div>