<tabs>
    <tab [tabTitle]="'Sign Up'">
        <div id="signup">
            <form #form="ngForm" (ngSubmit)="onPost(form.value)">
                <div class="name">
                    <input type="text" placeholder="Name" required ngControl="name" />
                </div>
                <div class="username">
                    <input type="text" placeholder="Username" required  ngControl="username" />
                    <span>*</span>
                </div>
                <div class="email">
                    <input type="email" placeholder="Email Address" required  ngControl="email"  />
                    <span>*</span>
                </div>
                <div class="password">
                    <input type="password" placeholder="Set Password" required  ngControl="password" />
                    <span>*</span>
                </div>
                <div class="submit text-center">
                    <button [disabled]="!form.valid" type="submit">Get Started</button>
                    <!--<input click="onPost(name.value, username.value, email.value, password.value)" type="submit" value="Get started" />-->
                </div>
            </form>
        </div>
    </tab>

    <tab [tabTitle]="'Log In'">
        <div id="login">
            <form #form="ngForm" (ngSubmit)="onLogin(username)">
                <div class="username">
                    <input type="text" placeholder="Username" required [(ngModel)]="username" />
                    <span>*</span>
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" required [(ngModel)]="password" />
                    <span>*</span>
                </div>
                <div class="submit text-center">
                    <!--&lt;!&ndash;<button (click) ="onLogin(emailaddress.value,password.value)">Log in</button>&ndash;&gt;-->
                    <!--<input (click) ="onLogin(emailaddress.value,password.value)" type="submit" value="Log In" />-->
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </tab>
</tabs>